<app-header></app-header>
    <app-side-navbar></app-side-navbar>
    <app-side-bar-chat></app-side-bar-chat>
<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <div class="container-fluid notifications">
     <!-- Main content starts -->
     <div class="btn-page">
        <!-- Row Starts -->
        <div class="row">
           <div class="col-lg-12 p-0">
              <div class="main-header">
                 <h4>Besoins</h4>
                 
              </div>
           </div>
        </div>

   <div>
   <label for="type">Type:</label>
   <select class="form-control" id="type" (change)="onTypeChange($event)"  name="type" formControlName="type" style="width: 200px;" >
     <option>Ordinateur</option>
     <option>Imprimante</option>
   </select>
   </div>
   <br>
   

   <!-- Tab panes -->
   
      <div class="tab-pane active" id="home3" role="tabpanel">
      <!-- Basic Table starts -->
      <div class="container" id="main-container">
         <div class="card">
        
                     <table class="table" *ngIf="showOrdianteurInputs == 'Ordinateur' ">
                        <thead>
                           <tr>
                              <th>Marque</th>
                              <th>CPU</th>
                              <th>Disque dur</th>
                              <th>Ecran</th>
                              <th>RAM</th>
                              <th>Action</th>
                              <th>Envoie</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let besoinO of ordinateurs">
                              <td>{{besoinO.marque}}</td>
                              <td>{{besoinO.cpu}}</td>
                              <td>{{besoinO.disqueDur}}</td>
                              <td>{{besoinO.ecran}}</td>
                              <td>{{besoinO.ram}}</td>
                              <td> <button (click)="onOpenModal(besoinO,'o')" type="submit" class="btn btn-success waves-effect waves-light" >Modifier</button></td>
                              <td> <button (click)="onSend(besoinO.id)" type="submit" class="btn waves-effect waves-light" [ngClass]="besoinO.envoie ? 'btn-danger' : 'btn-success'" >{{ besoinO.envoie ? 'Besoin envoyé' : 'Envoyer besoin' }}</button></td>
                        
              
                              <!--<td><a class="btn btn-primary tooltips" (click)="onOpenModal(besoin, 'add')">Ajouter<span class="sr-only">(current)</span></a></td>-->
                              
                           </tr>
                        </tbody>
                     </table>
                     <table class="table" *ngIf="showOrdianteurInputs == 'Imprimante' ">
                        <thead>
                           <tr>
                              <th>Marque</th>
                              <th>Resolution</th>
                              <th>Vitesse</th>
                              <th>Action</th>
                              <th>Envoie</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let besoinI of imprimantes">
                              <td>{{besoinI.marque}}</td>
                              <td>{{besoinI.resolution}}</td>
                              <td>{{besoinI.vitesse}}</td>
                     
                              <td> <button (click)="onOpenModal(besoinI,'i')" type="submit" class="btn btn-success waves-effect waves-light" >Modifier</button></td>
                              <td> <button (click)="onSend(besoinI.id)" type="submit" class="btn waves-effect waves-light" [ngClass]="besoinI.envoie ? 'btn-danger' : 'btn-success'" >{{ besoinI.envoie ? 'Besoin envoyé' : 'Envoyer besoin' }}</button></td>
                        
              
                           </tr>
                        </tbody>
                     </table>

   
            
         </div>
      </div>  
   </div>
      
 <!-- update Ressource Modal -->
 <div class="modal fade" id="updateOModal" tabindex="-1" role="dialog" aria-labelledby="updateOModalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateOModalModalLabel">Modifier Ordinateur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #updateO="ngForm" (ngSubmit)="onUpdateO(updateO)">
             <div class="form-group">
               <label for="codeBarre">marque</label>
               <input type="text" class="form-control" [(ngModel)]="ordinateur.marque" name="marque" id="marque" placeholder="marque" required>
            </div>
            <div class="form-group">
               <label for="codeBarre">cpu</label>
               <input type="text" class="form-control" [(ngModel)]="ordinateur.cpu" name="cpu" id="cpu" placeholder="cpu" required>
            </div>
            <div class="form-group">
               <label for="codeBarre">disqueDur</label>
               <input type="text" class="form-control" [(ngModel)]="ordinateur.disqueDur" name="disqueDur" id="disqueDur" placeholder="disqueDur" required>
            </div>
            <div class="form-group">
               <label for="codeBarre">ecran</label>
               <input type="text" class="form-control" [(ngModel)]="ordinateur.ecran" name="ecran" id="ecran" placeholder="ecran" required>
            </div>
            <div class="form-group">
               <label for="codeBarre">ram</label>
               <input type="text" class="form-control" [(ngModel)]="ordinateur.ram" name="ram" id="ram" placeholder="ram" required>
            </div>
            <div class="modal-footer">
               <button [disabled]="updateO.invalid" type="submit" class="btn btn-primary" >Enregistrer</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  </div>
  </div>
 </div>
 
 
     <!-- Add Imprimante Modal -->
 <div class="modal fade" id="updateIModal" tabindex="-1" role="dialog" aria-labelledby="updateIModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateIModalLabel">Modifier Imprimante</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #updateI="ngForm" (ngSubmit)="onUpdateI(updateI)" >
               <div class="form-group">
                  <label for="codeBarre">marque</label>
                  <input type="text" class="form-control" [(ngModel)]="imprimante.marque" name="marque" id="marque" placeholder="marque" required>
               </div>
               <div class="form-group">
                  <label for="codeBarre">resolution</label>
                  <input type="text" class="form-control" [(ngModel)]="imprimante.resolution" name="resolution" id="resolution" placeholder="resolution" required>
               </div>
               <div class="form-group">
                  <label for="codeBarre">vitesse</label>
                  <input type="text" class="form-control" [(ngModel)]="imprimante.vitesse" name="vitesse" id="vitesse" placeholder="vitesse" required>
               </div>
            <div class="modal-footer">
               <button [disabled]="updateI.invalid" type="submit" class="btn btn-primary" >Enregistrer</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    
 